@mixin square ($size, $background-color) {
    width: $size;
    height: $size;
    background-color: $background-color;
}

.square {
    @include square (200px, #ff8000);
    @extend %font-text;
}

@mixin circle ($size, $background-color) {
    width: $size;
    height: $size;
    background-color: $background-color;
    border-radius: 100px;
}

.circle {
    @include circle (200px, #ffff00);
    @extend %font-text;
}


// container class
$colors: #0099ff, #0000ff, #00ffff, #ff9900;

@each $color in $colors {
    $i: index($colors, $color);
    .container-#{$i} {
        background-color: $color;
    }
}

// placeholder

%font-text {
    font-family: fantasy;
    text-align: center;
}